# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android related
android/.gradle/
android/build/
android/app/release/
android/app/debug/
android/app/profile/

# iOS/macOS related
ios/Pods/
ios/build/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
macos/Pods/
macos/build/

# Web/Windows/Linux (nếu hỗ trợ đa nền tảng)
web/build/
windows/build/
linux/build/

# Misc
*.log
*.lock
*.pyc
*.swp
.DS_Store
.idea/
.vscode/
*.iml

# VS Code/JetBrains related
.vscode/
*.iml
*.ipr
*.iws
.idea/
